body{
	position:relative;
	height:100%;
	font-family: 'Roboto', sans-serif;
	color:$body-text;

	*{
		box-sizing:border-box;
	}
}
h1{
	font-size:2.2rem;
}
h2{
	font-size:1.5rem;
}
h3{
	font-size:1.25rem;
}
.app{
	min-height:80vh;
	background:$grey-1;
}
.app-container{
	padding:20px 20px 40px 20px;
	margin-bottom:40px;
	// background:$grey-1;
	// min-height:70vh;

	&.graph{
		overflow:hidden;
		h2{
			margin-top:0px;
			margin-bottom:5px;
		}
		.metrics{
			margin-bottom:0px;
		}
	}
}

.date{
	font-weight:200;
	font-style:italic;
}

#fun-fact{
	margin:20px 0px;
	padding:20px;
	text-align:center;
	border:1px solid $grey-2;
	border-radius:5px;
	h2{
		text-align:center;
	}
}