//buttons

.button_primary{
	color:$highlight;
	border: 1px solid $highlight;
	padding:10px 20px;
	background:$white;
	text-align:center;
	display:block;
	position:relative;

	&:hover, &:focus{
		background: $highlight;
		color:$white;
	}
}