

.card {
  padding: 20px;
  background:$white;
  margin-top:10px;
  position:relative;

  .button_primary{
  	margin:0 auto;
  	width:350px;
  }

  .card-pointer{
  	width: 0; 
	height: 0; 
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 10px solid $white;
	position:absolute;
	bottom:100%;
	left:calc(50% - 50px);
  }

  .card-header{
  	display:flex;
  	flex-direction:row;
  	align-items:center;
  	justify-content:center;

  	h3{
  		margin:1rem 0;
  	}
  }
  .serving-data{
  	margin: 10px 0px;
  	font-size:.8rem;
  	text-align:center;
  	padding:0px 20px;
  }
  .emissions-data{
  	text-align:center;
  	font-size:1.2rem;
  	padding:0px 20px;
  }

  .card-name{
  	font-size:2rem;
  }

 	.info-container{
		background:$grey-1;
		padding:20px;

		.info-heading{
			font-weight:300;
		}
	}
}

