// Config

// Colors

$tan: #efd28d;
$highlight: #f46036;
$blue-lt: #5b85aa;
$purple-lt: #414770;
$purple-dk: #372248;
$black: #171123;

$white: #ffffff;
$grey-1: #f1f1f1;
$grey-2: #666666;
$grey-3: #222222;

$body-text: $black;

