header{
	overflow:hidden;
	background-color: #282c34;
	// background-image: url(food.jpg);
	// background-repeat: no-repeat;
	background: $purple-dk;
	color:$white;
	max-width: 100%;
	text-align:center;
}