// original styling to be broken into sass components

// .App {
//   text-align: center;
// }
// .App-header {
//   background-color: #282c34;
//   background-image: url(food.jpg);
//   background-repeat: no-repeat;
//   max-width: 100%;
//   height: 40vmin;

// }
// .App-link {
//   color: #09d3ac;
// }

// .food-card-container {
//   margin:20px;
//   /* display: flex;
//   justify-content: center; */
// }

// .food-card {
//   padding: 20px;
//   height: 500px;
//   width:500px;
//   border: 1px solid black;
// }

// .header-container {
//   display: flex;
//   justify-content: space-between;
//   margin-bottom: 16px;
// }



.styled-data {
  margin-left: 20px;
}

.icon-container {
  display: flex;
  align-content: flex-start
}


